/* You can add global styles to this file, and also import other style files */
// ======================================= //
@import "themes.scss";
// ======================================= //
html,
body {
  margin: 0;
  padding: 0;
  // ======================================= //
  overflow-y: hidden;
  overflow-x: hidden;
  // ======================================= //
  font-family: $poppins;
  height: 100vh;
}
* {
  // ======================================= //
  font-size: 14px;
  // ======================================= //
}
a {
  text-decoration: none !important;
}
a:hover {
  cursor: pointer;
}
.shadow {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}
.container {

  .container-header {
    height: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: lightblue;
  }
  .container-title {
    background: $light;
    font-size: 28px;
    padding: 15px;
    color: lightskyblue;
  }
  .container-body {
    flex: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 15px;
  }
}
.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
}
.card-title {
  padding: 35px;
  font-size: 28px;
  color: $info;
  background: $light;
}
.form-control.ng-invalid.ng-touched {
  border: 0.5px solid $danger;
}
.form-control.ng-valid.ng-touched {
  border: 0.5px solid $success;
}
.form-group {
  margin: 10px 0px 0px 0px;
}