@import "themes.scss";

.navigation {
  display: flex;
  align-items: center;
  background: lightskyblue;
  height: 50px;
  color: white;
  max-height: 50px;
  padding: 0px 15px;

  .nav-brand {
    margin-left: 15px;
    font-size: 24px;
  }
  .nav-sections {
    margin: 0px 15px;
    flex: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.nav-actions {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.nav-action {
  text-align: center;
  min-width: 50px;
  color: white;
  .fa {
    font-size: 20px;
  }
}
.nav-action::after {
}
.nav-action:hover {
  ::after {
  }
}
.nav-action:active {
}
