<div class="navigation">
  <div class="nav-brand"><i class="fa fa-scissors"></i> LePooch</div>
  <div class="nav-sections">
    <div class="nav-actions">
    </div>
    <div class="nav-actions">
      <a class="nav-action"><i class="fa fa-calendar"></i></a>
      <a
        (click)="this.showMessage()"
        class="nav-action"
        routerLink="account/login"
      ><span
          *ngIf="this.account"
          style="margin-right: 10px;"
        >Welcome {{this.account.userName}}!</span> <i class="fa fa-user-circle-o"></i></a>
    </div>
  </div>
</div>