@import "themes.scss";
@import "styles.scss";

.navbar {
  @extend .shadow;

  height: 50px;
  max-height: 50px;
  display: flex;
  padding: 0 25px;
  justify-content: space-between;
  align-content: center;
  background: $navbar-bg;
  * {
    color: white;
  }
}
.brand-logo {
  font-size: 22px;
  margin-right: 10px;
}
.nav-item {
  position: relative;
  padding: 7.5px 20px;
  border-radius: 0em;
  transition: ease 500ms;
}
.nav-item:focus {
  background-color: $success;
}
.nav-item:hover {
  @extend .shadow;
  transition: ease 500ms;
  background: lighten($color: $info, $amount: 10%);
}
.nav-item:hover::after {
  @extend .shadow;

  transition: ease 500ms;

  content: "";
  position: absolute;
  width: 100%;
  opacity: 100%;
  height: 3px;
  left: 0%;
  bottom: -5px;
  background: lighten($color: $info, $amount: 10%);
}
.nav-item::after {
  @extend .shadow;

  transition: ease 500ms;

  content: "";
  position: absolute;
  width: 100%;
  opacity: 0%;
  height: 2.5px;
  left: 0%;
  bottom: -5px;
  background-color: white;
}
.navbar-primary {
  display: flex;
  align-items: center;

  @media screen and (max-width: 750px) {
    .nav-item {
      display: none !important;
    }
  }
}
.navbar-secondary {
  display: flex;
  align-items: center;
}
i {
  font-size: 18px;
}
