<div class="row">
  <div
    class="container shadow"
    style="max-width: 750px;"
  >
    <div class="container-header"></div>
    <div class="container-title"><i class="fa fa-user-plus"></i> Register</div>
    <div class="container-body">
      <form [formGroup]="this.registerForm">
        <div class="input-group">
          <label for="username"><i class="fa fa-user"></i> Username:</label>
          <input
            type="text"
            name="username"
            formControlName="username"
            placeholder="Enter your username"
            id="username"
            class="input-item"
          >
        </div>
        <div class="input-group">
          <label for="password"><i class="fa fa-lock"></i> Password:</label>
          <input
            type="password"
            name="password"
            formControlName="password"
            placeholder="Enter your password"
            id="password"
            class="input-item"
          >
        </div>
        <div class="input-group">
          <label for="email"><i class="fa fa-envelope"></i> Email:</label>
          <input
            type="text"
            name="email"
            formControlName="email"
            placeholder="Enter your email"
            id="email"
            class="input-item"
          >
        </div>
        <div class="input-group">
          <button
            [disabled]="this.registerForm.invalid"
            (click)="this.register()"
          >Submit! <i class="fa fa-check"></i></button>
        </div>
      </form>
      <div
        class="input-group"
        style="text-align: center;"
      >
        <a routerLink="../login">Click here to login!</a>
      </div>
    </div>
  </div>
</div>