<div class="navigation">
  <div class="nav-brand">
    <i class="fa fa-scissors"></i> LePooch Shop
  </div>
  <div class="nav-actions">
    <div class="nav-start">
      <a
        class="btn nav-action"
        target="_blank"
        href="../../docs/index.html"
      ><i class="fa fa-code"></i> <span class="btn-text">Api Docs</span></a>
    </div>
    <div class="nav-end">
      <div class="dropdown">
        <button
          class="btn nav-action"
          data-toggle="dropdown"
        >
          <span *ngIf="this.account" class="mr-2"> {{this.account?.userName}} </span>
          <i class="fa fa-user"></i>
        </button>
        <div class="dropdown-menu">
          <a
            (click)="this.logout()"
            *ngIf="this.account"
            class="dropdown-item text-info"
          ><i class="fa fa-sign-out mr-2"></i> Logout</a>
          <a
            routerLink="account"
            *ngIf="!this.account"
            class="dropdown-item text-info"
          ><i class="fa fa-sign-in mr-2"></i> Login</a>
        </div>
      </div>
      <a
        href="https://github.com/Probeh/LePoochShop"
        target="_blank"
        class="btn nav-action"
      ><i class="fa fa-github"></i></a>
    </div>
  </div>
</div>