<div class="row">
  <div class="container">
    <div class="container-header">
    </div>
    <div class="container-title">
      Group Title
    </div>
    <div class="container-body">
      <div class="row">
        <div class="input-group">
          <label for="firstName">First Name</label>
          <input type="text" name="firstName" id="firstName" class="input-item" placeholder="Enter your name here"
            autocomplete="off">
        </div>
        <div class="input-group">
          <label for="firstName">Last Name</label>
          <input type="text" name="firstName" id="firstName" class="input-item" placeholder="Enter your name here"
            autocomplete="off">
        </div>
        <div class="input-group">
          <label for="firstName">Last Name</label>
          <input type="text" name="firstName" id="firstName" class="input-item" placeholder="Enter your name here"
            autocomplete="off">
        </div>
        <div class="input-group">
          <label for="firstName">Last Name</label>
          <input type="text" name="firstName" id="firstName" class="input-item" placeholder="Enter your name here"
            autocomplete="off">
        </div>
        <div class="input-group">
          <label for="firstName">Last Name</label>
          <input type="text" name="firstName" id="firstName" class="input-item" placeholder="Enter your name here"
            autocomplete="off">
        </div>
      </div>
    </div>
    <div class="container-footer"></div>
  </div>
  <div class="container">
    <div class="container-header">
    </div>
    <div class="container-body">
      <div class="row">
        <div class="input-group">
          <label for="firstName">First Name</label>
          <input type="text" name="firstName" id="firstName" class="input-item" placeholder="Enter your name here"
            autocomplete="off">
        </div>
        <div class="input-group">
          <label for="firstName">Last Name</label>
          <input type="text" name="firstName" id="firstName" class="input-item" placeholder="Enter your name here"
            autocomplete="off">
        </div>
        <div class="input-group">
          <label for="firstName">Last Name</label>
          <input type="text" name="firstName" id="firstName" class="input-item" placeholder="Enter your name here"
            autocomplete="off">
        </div>
      </div>
    </div>
    <div class="container-footer"></div>
  </div>
  <div class="container">
    <div class="container-header">
    </div>
    <div class="container-body">
      <div class="row">
        <div class="input-group">
          <label for="firstName">First Name</label>
          <input type="text" name="firstName" id="firstName" class="input-item" placeholder="Enter your name here"
            autocomplete="off">
        </div>
        <div class="input-group">
          <label for="firstName">Last Name</label>
          <input type="text" name="firstName" id="firstName" class="input-item" placeholder="Enter your name here"
            autocomplete="off">
        </div>
        <div class="input-group">
          <label for="firstName">Last Name</label>
          <input type="text" name="firstName" id="firstName" class="input-item" placeholder="Enter your name here"
            autocomplete="off">
        </div>
      </div>
    </div>
    <div class="container-footer"></div>
  </div>
  <div class="container">
    <div class="container-header">
    </div>
    <div class="container-body">
      <div class="row">
        <div class="input-group">
          <label for="firstName">First Name</label>
          <input type="text" name="firstName" id="firstName" class="input-item" placeholder="Enter your name here"
            autocomplete="off">
        </div>
        <div class="input-group">
          <label for="firstName">Last Name</label>
          <input type="text" name="firstName" id="firstName" class="input-item" placeholder="Enter your name here"
            autocomplete="off">
        </div>
        <div class="input-group">
          <label for="firstName">Last Name</label>
          <input type="text" name="firstName" id="firstName" class="input-item" placeholder="Enter your name here"
            autocomplete="off">
        </div>
      </div>
    </div>
    <div class="container-footer"></div>
  </div>
  <div class="container">
    <div class="container-header">
    </div>
    <div class="container-body">
      <div class="row">
        <div class="input-group">
          <label for="firstName">First Name</label>
          <input type="text" name="firstName" id="firstName" class="input-item" placeholder="Enter your name here"
            autocomplete="off">
        </div>
        <div class="input-group">
          <label for="firstName">Last Name</label>
          <input type="text" name="firstName" id="firstName" class="input-item" placeholder="Enter your name here"
            autocomplete="off">
        </div>
        <div class="input-group">
          <label for="firstName">Last Name</label>
          <input type="text" name="firstName" id="firstName" class="input-item" placeholder="Enter your name here"
            autocomplete="off">
        </div>
      </div>
    </div>
    <div class="container-footer"></div>
  </div>
</div>